In [ ]:
import pandas as pd
import numpy as np

In [3]:
google = pd.read_csv("google.csv")
google

          Date     Open       High        Low    Close   Volume
0   2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
1   2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2   2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
3   2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
4   2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
5   2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
6   2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
7   2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
8   2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
9   2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
10  2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
11  2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
12  2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
13  2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
14  2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
15  2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
16  2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
17  2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
18  2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
19  2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
20  2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
21  2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
22  2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
23  2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
24  2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
25  2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
26  2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
27  2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
28  2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
29  2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

In [7]:
pd.DataFrame.info(google)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    30 non-null     object
 1   Open    30 non-null     float64
 2   High    30 non-null     float64
 3   Low     30 non-null     float64
 4   Close   30 non-null     float64
 5   Volume  30 non-null     int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.5+ KB

In [8]:
pd.DataFrame.describe(google)

              Open         High          Low        Close        Volume
count    30.000000    30.000000    30.000000    30.000000  3.000000e+01
mean   1428.889000  1445.470440  1412.767923  1430.681000  1.869471e+06
std      22.943586    19.462454    24.728358    22.717075  7.014872e+05
min    1360.340000  1398.000000  1351.650000  1362.540000  1.172069e+06
25%    1419.377500  1436.802500  1396.565000  1418.097500  1.528364e+06
50%    1431.925000  1444.805000  1419.095000  1433.820000  1.687518e+06
75%    1444.605000  1452.628250  1428.301250  1445.430000  2.085423e+06
max    1463.280000  1488.520000  1454.355000  1469.930000  4.882014e+06

In [10]:
google = pd.read_csv('google.csv',index_col=0)
google = google.reset_index()
google

          Date     Open       High        Low    Close   Volume
0   2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
1   2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2   2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
3   2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
4   2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
5   2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
6   2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
7   2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
8   2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
9   2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
10  2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
11  2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
12  2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
13  2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
14  2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
15  2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
16  2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
17  2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
18  2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
19  2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
20  2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
21  2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
22  2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
23  2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
24  2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
25  2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
26  2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
27  2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
28  2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
29  2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

In [11]:
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
google

         Date     Open       High        Low    Close   Volume  Year  Month
0  2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915  2020      7
1  2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124  2020      7
2  2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320  2020      6
3  2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678  2020      6
4  2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014  2020      6
5  2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907  2020      6
6  2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579  2020      6
7  2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583  2020      6
8  2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072  2020      6
9  2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167  2020      6
10 2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071  2020      6
11 2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500  2020      6
12 2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826  2020      6
13 2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652  2020      6
14 2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756  2020      6
15 2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243  2020      6
16 2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116  2020      6
17 2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155  2020      6
18 2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881  2020      6
19 2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350  2020      6
20 2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105  2020      6
21 2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640  2020      6
22 2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069  2020      6
23 2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254  2020      6
24 2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522  2020      5
25 2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787  2020      5
26 2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185  2020      5
27 2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488  2020      5
28 2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206  2020      5
29 2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976  2020      5

In [12]:
google.groupby("Month")["Close"].mean()

Month
5    1418.900000
6    1431.595455
7    1455.965000
Name: Close, dtype: float64

In [15]:
idx_min = google['Close'].argmin()
google.iloc[[idx_min]]

        Date     Open     High     Low    Close   Volume  Year  Month
4 2020-06-26  1432.63  1437.02  1355.0  1362.54  4882014  2020      6

In [20]:
google[['Date','Open','Close','Volume']]

         Date     Open    Close   Volume
0  2020-07-02  1451.84  1469.93  2860915
1  2020-07-01  1419.17  1442.00  2109124
2  2020-06-30  1396.88  1418.05  2014320
3  2020-06-29  1360.34  1397.17  2253678
4  2020-06-26  1432.63  1362.54  4882014
5  2020-06-25  1431.22  1441.10  1197907
6  2020-06-24  1463.28  1432.70  1579579
7  2020-06-23  1452.00  1463.98  1887583
8  2020-06-22  1425.01  1450.66  1472072
9  2020-06-19  1440.00  1424.64  2639167
10 2020-06-18  1449.85  1434.12  1743071
11 2020-06-17  1452.94  1452.54  1530500
12 2020-06-16  1449.00  1446.47  1534826
13 2020-06-15  1389.49  1420.74  1527652
14 2020-06-12  1425.86  1412.92  1833756
15 2020-06-11  1441.03  1401.90  2357243
16 2020-06-10  1461.51  1464.70  1588116
17 2020-06-09  1445.24  1452.08  1681155
18 2020-06-08  1426.28  1448.04  1693881
19 2020-06-05  1415.64  1440.02  2132350
20 2020-06-04  1436.78  1414.30  1349105
21 2020-06-03  1442.70  1439.25  1386640
22 2020-06-02  1435.00  1442.31  1172069
23 2020-06-01  1425.70  1434.87  1259254
24 2020-05-29  1420.43  1433.52  1852522
25 2020-05-28  1400.00  1418.24  1759787
26 2020-05-27  1420.00  1420.28  1584185
27 2020-05-26  1441.96  1421.37  2229488
28 2020-05-22  1403.90  1413.24  1427206
29 2020-05-21  1410.99  1406.75  1544976

In [23]:
google.set_index('Date')

               Open       High        Low    Close   Volume  Year  Month
Date
2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915  2020      7
2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124  2020      7
2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320  2020      6
2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678  2020      6
2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014  2020      6
2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907  2020      6
2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579  2020      6
2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583  2020      6
2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072  2020      6
2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167  2020      6
2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071  2020      6
2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500  2020      6
2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826  2020      6
2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652  2020      6
2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756  2020      6
2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243  2020      6
2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116  2020      6
2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155  2020      6
2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881  2020      6
2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350  2020      6
2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105  2020      6
2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640  2020      6
2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069  2020      6
2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254  2020      6
2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522  2020      5
2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787  2020      5
2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185  2020      5
2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488  2020      5
2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206  2020      5
2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976  2020      5

In [24]:
google = google.drop(columns=['Year','Month'])
google

         Date     Open       High        Low    Close   Volume
0  2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
1  2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2  2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
3  2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
4  2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
5  2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
6  2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
7  2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
8  2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
9  2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
10 2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
11 2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
12 2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
13 2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
14 2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
15 2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
16 2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
17 2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
18 2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
19 2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
20 2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
21 2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
22 2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
23 2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
24 2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
25 2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
26 2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
27 2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
28 2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
29 2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

In [27]:
google = pd.read_csv('google.csv',index_col=0)
columns = ['O','H','L','C','V']
google.columns = columns
google

                  O          H          L        C        V
Date
2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976