In [1]:
import numpy as np

In [2]:
dat = np.arange('2020-01-06','2020-03',dtype='datetime64[D]')

print(dat[::7])

['2020-01-06' '2020-01-13' '2020-01-20' '2020-01-27' '2020-02-03'
 '2020-02-10' '2020-02-17' '2020-02-24']

In [3]:
A = np.array(['001', '002', '003'])
B = np.array(['XC', 'YC', 'ZC'])
C = np.char.add(A,B)
print(C)

['001XC' '002YC' '003ZC']

In [4]:
A = np.array(['1', '2', '3'])

print(np.char.add('000',A))

['0001' '0002' '0003']

In [5]:
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']])

print(np.char.split(A,sep=" "))

[[list(['PLW', 'CDR', '11B', 'TEN']) list(['AMC', 'LPP'])]
 [list(['CDR', 'PKO', 'KGH']) list(['CCC', 'QMK'])]]

In [6]:
A = np.array([['#summer#time#mood'],
              ['#sport#time']])

A = np.char.replace(A,"#"," ")
A = np.char.strip(A)
print(A)

[['summer time mood']
 ['sport time']]

In [7]:
A = np.array([['#summer#time#mood', '#vibe'],
              ['#sport#time', '#good#time'],
              ['#event#summer', '#fast#move']])

print(np.char.count(A,"time"))

[[1 0]
 [1 1]
 [0 0]]

In [8]:
text = """ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14
CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42
CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7
CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14
DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12
JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24
KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8
LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16
LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19
MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24
ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13
PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9
PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18
PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12
PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8
PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9
PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16
PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6
SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18
TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33"""

line = text.splitlines()
line = [line.split('\t') for line in line]
result = np.array(line)
print(result)

[['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14']
 ['CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42']
 ['CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7']
 ['CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14']
 ['DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12']
 ['JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24']
 ['KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8']
 ['LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16']
 ['LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19']
 ['MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24']
 ['ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13']
 ['PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9']
 ['PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18']
 ['PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12']
 ['PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8']
 ['PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9']
 ['PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16']
 ['PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6']
 ['SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18']
 ['TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33']]

In [9]:
result = np.char.strip(result)
result = np.char.replace(result,",",".")
print(result)

[['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0.891    2.16    14']
 ['CCC    PLCCC0000016    27 918 000    1 292 603 400    0.831    5.28    42']
 ['CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14.702    7.39    7']
 ['CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4.408    1.17    14']
 ['DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5.733    9.13    12']
 ['JSW    PLJSW0000015    52 636 000    716 902 320    0.461    1.51    24']
 ['KGHM    PLKGHM000017    136 410 000    9 881 540 400    6.354    4.78    8']
 ['LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3.607    2.91    16']
 ['LPP    PLLPP0000011    1 306 000    7 444 200 000    4.787    1.43    19']
 ['MBANK    PLBRE0000012    12 997 000    2 830 746 600    1.820    0.42    24']
 ['ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2.756    1.16    13']
 ['PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6.185    5.27    9']
 ['PGE    PLPGER000010    796 776 000    3 561 588 720    2.290    2.88    18']
 ['PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3.905    1.56    12']
 ['PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11.382    12.44    8']
 ['PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12.093    10.49    9']
 ['PLAY    LU1642887738    114 151 000    3 696 209 380    2.377    1.47    16']
 ['PZU    PLPZU0000011    568 305 000    17 515 160 100    11.262    6.64    6']
 ['SANPL    PLBZ00000044    33 207 000    5 213 499 000    3.352    1.91    18']
 ['TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0.805    1.21    33']]

In [17]:
stocks_startswith_P = result[np.char.startswith(result[:,0], 'P')]
print(stocks_startswith_P)

[['PEKAO' 'PLPEKAO00016' '176379000' '9619710660' '6.185' '5.27' '9']
 ['PGE' 'PLPGER000010' '796776000' '3561588720' '2.290' '2.88' '18']
 ['PGNIG' 'PLPGNIG00014' '1624608000' '6072784704' '3.905' '1.56' '12']
 ['PKNORLEN' 'PLPKN0000018' '289049000' '17701360760' '11.382' '12.44'
  '8']
 ['PKOBP' 'PLPKO0000016' '857593000' '18807014490' '12.093' '10.49' '9']
 ['PLAY' 'LU1642887738' '114151000' '3696209380' '2.377' '1.47' '16']
 ['PZU' 'PLPZU0000011' '568305000' '17515160100' '11.262' '6.64' '6']]

In [19]:
stocks_startswith_P = np.array(
    [
        [
            'PEKAO',
            'PLPEKAO00016',
            '176379000',
            '9619710660',
            '6.185',
            '5.27',
            '9',
        ],
        [
            'PGE',
            'PLPGER000010',
            '796776000',
            '3561588720',
            '2.290',
            '2.88',
            '18',
        ],
        [
            'PGNIG',
            'PLPGNIG00014',
            '1624608000',
            '6072784704',
            '3.905',
            '1.56',
            '12',
        ],
        [
            'PKNORLEN',
            'PLPKN0000018',
            '289049000',
            '17701360760',
            '11.382',
            '12.44',
            '8',
        ],
        [
            'PKOBP',
            'PLPKO0000016',
            '857593000',
            '18807014490',
            '12.093',
            '10.49',
            '9',
        ],
        [
            'PLAY',
            'LU1642887738',
            '114151000',
            '3696209380',
            '2.377',
            '1.47',
            '16',
        ],
        [
            'PZU',
            'PLPZU0000011',
            '568305000',
            '17515160100',
            '11.262',
            '6.64',
            '6',
        ],
    ],
    dtype='<U12',
)
print(np.round(stocks_startswith_P[:,4].astype(float).sum(),2))

49.49